#login-area {
    height: 1000px;
    margin-top: 100px;
    padding-top: 100px;
    padding-left: 700px;
}

#login-area * {
    position: relative;
    font-family: 'Roboto';
    white-space: nowrap;
}

.login-main .login-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 35.16px;
    outline-color: #222222;

}

.login-main .login-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.41px;
    color: #000000;
    margin-bottom: 54px;
}

.login-input-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.41px;
    color: #000000;
    margin-bottom: 10px;
}

.login-btn {
    width: 412px;
    height: 64.01px;
    background-color: #ff7f00;
    border-radius: 10px;
    margin-top: 16.28px;
    color:  #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    Line-height: 21.09px;

}

.login-bottom-link-wrap {
    position: relative;
    width: 100px;
    height: 28px;
    display: inline-block;
    justify-content: space-between;
    margin: 0;
    margin-top: 21.99px;

}

.login-bottom-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    text-align: center;
    color: #929292;
    list-style: none;
    width: 65px;
    margin: 0;
    
}

.login-bottom-link a {
    font-weight: 700;
    /*font-size: 14px;
    line-height: 16.41px;
    text-align: center;*/
    text-decoration: underline;
    color: #929292;
    /*color: #929292;*/
    margin: 0;
}

.login-input-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FF785A;  
}

.register-checkbox {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000; 
}

.register-checkbox a {
    /*font-style: normal;*/
    font-weight: bold;
    /*font-size: 14px;
    line-height: 16px;*/
    text-decoration-line: underline;
    /*color: #000000;*/
}

.login-nec {
     /*반복된 font style들 inherit으로 처리하기*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FF785A;
}

#login-area div.login-input-wrap input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    width: 408px;
    height: 45px;
    margin-bottom: 25.72px;
    
}

